* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Hides arrow on number input field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0;
}

ul {
  list-style: none;
}

form label,
form legend {
  margin-right: 10px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

form ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form li {
  display: flex;
  justify-content: space-between;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1080px;
  height: 220px;
  background-color: rgb(164, 195, 223);
  padding: 10px;
}

.button-display-form {
  font-weight: 700;
  font-size: 18px;
  width: 130px;
  height: 30px;
  color: white;
  background-color: rgb(66, 97, 124);
  border: none;
}

.book-display-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
  width: 1080px;
  height: 1080px;
  background-color: aliceblue;
  padding: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: wheat;
  border-radius: 10px;
  font-weight: 600;
}

.card-button-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 40px;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}
